<footer class="text-light align-middle">
  <img src="../../assets/4a779a04-399b-41d4-b541-31a822d9624b.jpg" alt="qr" style="float: right; padding-right: 1%; width:6%; height: 7%;" >
    <h5 class="text-xs-center align-middle mb-0">Helpline : 9876543210</h5>
    <em>This site is a prototype. Not intended to replace the help of certified professionals.<br>
    For presentational purpose only.</em>
    <p class="text-xs-center align-middle mb-0 font-weight-light font-italic">C.A.L.M © Copyright 2020. All rights reserved.</p>

  </footer>
