<app-navbar></app-navbar>
<div class="container" style="padding-top:60px;">
  <div class="card-body p-4">
    <app-viewmyself></app-viewmyself>
    <form [formGroup]="updateUserForm" (ngSubmit)="updateUser()">


      <div class="input-group mb-3">First Name:
        <input type="text" class="form-control sty1" placeholder="First Name" formControlName="fName" required
          [ngClass]="{ 'is-invalid': submitted && f.fName.errors}">
        <div *ngIf="submitted && f.fName.errors" class="invalid-feedback">
          <div *ngIf="f.fName.errors.required">Name is required</div>
        </div>
      </div>
      <div class="input-group mb-3">Last Name:
        <input type="text" class="form-control sty1" placeholder="Last Name" formControlName="lName" required
          [ngClass]="{ 'is-invalid': submitted && f.lName.errors}">
        <div *ngIf="submitted && f.lName.errors" class="invalid-feedback">
          <div *ngIf="f.lName.errors.required">Name is required</div>
        </div>
      </div>
     
      <div class="input-group mb-3">User Name:
        <input type="text" class="form-control sty1" placeholder="Insert Name" formControlName="username" required
          [ngClass]="{ 'is-invalid': submitted && f.username.errors}">
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Name is required</div>
        </div>
      </div>
      <div class="input-group mb-3">Password:
        <input type="Password" class="form-control sty1" placeholder="Insert 6 char password" formControlName="password"
          required [ngClass]="{ 'is-invalid': submitted && f.password.errors}">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">password is required</div>
        </div>
      </div>
      <div class="input-group mb-3">Location:
        <select style="background-color:blueviolet;" (change)="onCitySelect($event)">
          <option *ngFor="let city of this.cities" [value]="city">
            {{city}}</option>
        </select>

      </div>


      <button type="submit" class="btn btn-block btn-success" [disabled]="!updateUserForm.valid">
        Update</button>
    </form>
    <div *ngIf="error" class="error">
      {{ error }}
    </div>

  </div>
  <div class="push"></div>
</div>
<br />
<app-footer></app-footer>