<app-navbar></app-navbar>
<div class="pt-3 px-4" style="min-height:450px;">
  <div class="container">
    <div class="card-body p-4">
  <table class="table table-hover table-dark"><caption>Support groups</caption>
      <thead><th scope="col">Title</th><th scope="col">Dates</th><th scope="col">Location</th><th scope="col">Details</th><th scope="col">Organizer</th></thead>
        <tr *ngFor="let e of eventApi.list" >
          
          <td >{{e.title}}</td>
          <td >{{e.occurrenceData}}</td> 
          <td >{{e.city}}</td> 
          <td >{{e.details}}</td> 
          <td >{{e.organizer.username}}</td>
        </tr>
      </table>

      <p>Group members:</p> 
      <div *ngFor="let  e of eventApi.list">
      
        <div *ngFor="let ei of e.atendees">
          <p>{{ei.username}} from, {{ei.city}} is a member of {{e.title}} <p>
           
        </div>
     
      </div>

    <div [hidden]="!show">
      <form [formGroup]="EventTitleForm" (ngSubmit)="AddUser()">
        <div class="input-group mb-3">Title:
          <select  style="background-color:blueviolet;" (change)="onTitleSelect($event)">
          <option *ngFor="let e of eventApi.list" 
          [value]="e.title" >
        {{e.title}}</option>
          </select>
      
      </div> 
      
      <button type="submit" class="btn btn-block btn-success" >
       Attend</button>
     </form>


    </div>
      <p [hidden]="!shownotlogged">
       Please login to Join a group
      </p>
    </div>
<div class="push"></div>
  </div>
</div>
<br />
<app-footer></app-footer> 

