<app-navbar></app-navbar>


<div class="container" style="padding-top:40px;">
    <div class="row">
        
                <div class="card-body p-4">
                    
                    <form [formGroup]="CreateUserForm" (ngSubmit)="CreateUser()" >
                     
                        <h1 style="text-align:center">Register</h1>


                        <div class="input-group mb-3">First Name:
                            <input type="text" class="form-control sty1"  placeholder="First Name" formControlName="FName"
                                required [ngClass]="{ 'is-invalid': submitted && f.FName.errors}">
                                <div *ngIf="submitted && f.FName.errors" class="invalid-feedback">
                                    <div *ngIf="f.FName.errors.required">Name is required</div>
                                </div>
                        </div>
                        <div class="input-group mb-3">Last Name:
                            <input type="text" class="form-control sty1"  placeholder="Last Name" formControlName="LName"
                                required [ngClass]="{ 'is-invalid': submitted && f.LName.errors}">
                                <div *ngIf="submitted && f.LName.errors" class="invalid-feedback">
                                    <div *ngIf="f.LName.errors.required">Name is required</div>
                                </div>
                        </div>
                        <div class="input-group mb-3">User Name:
                            <input type="text" class="form-control sty1"  placeholder="Insert Name" formControlName="Username"
                                required [ngClass]="{ 'is-invalid': submitted && f.Username.errors}">
                                <div *ngIf="submitted && f.Username.errors" class="invalid-feedback">
                                    <div *ngIf="f.Username.errors.required">Name is required</div>
                                </div>
                        </div>
                        <div class="input-group mb-3"> Password:
                            <input type="Password" class="form-control sty1"  placeholder="Insert 6 char Password"
                                formControlName="Password" required [ngClass]="{ 'is-invalid': submitted && f.Password.errors}" >
                                <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                                    <div *ngIf="f.Password.errors.required">Password is required</div>
                                </div>
                        </div>
                  
                    
                        <button type="submit" class="btn btn-block btn-success" >
                            Register</button>
                    </form>
                    <div *ngIf="error" class="error">
                        {{ error }}
                    </div>
               
           
        </div>
    </div>

<div class="push"></div>
</div>
<br />
<app-footer></app-footer>