<app-navbar></app-navbar>
<div class="container" style="padding-top:60px;">
    <div class="row">
            /// class for login component with all features and functionality.
            <div class="card-body p-4">



              <form name="form" #f="ngForm" (ngSubmit)="Login(f)">
               
                 
                <h2 style="text-align:center">username</h2>
  
                <input type="text" name="username"  class="form-control sty1"
                  placeholder="username" required ngModel [(ngModel)]="LoginService.formData.username" >
                  <h2 style="text-align:center">Password</h2>
                <input type="Password" name="Password"
                  class="form-control sty1" placeholder="Password" required ngModel [(ngModel)]="LoginService.formData.Password" >



                <br>

                <button type="submit" class="btn btn-block btn-success">Login</button>
                <div>
                    <div *ngIf="error">  {{errorMessage}} </div>

                </div>
                <br>






              </form>
            </div>
          </div>

        <div class="push"></div>
    </div>
    <br />
    <app-footer></app-footer>
